body {
  background-color: rgb(223, 223, 222);
}

.front_title {
  letter-spacing: 0px;
  color: #3a57ff;
}

.img-banner {
  background-image: url(images/banner.jpeg);
  height: fit-content;
  width: 100%;
  margin: 0px;
  background-attachment: fixed;
}
.left-title {
  color: #082c46;
  font-weight: bold;
}
.right-title {
  color: #082c46;
  font-weight: bold;
}
h2 {
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 25px;
}

.blue-color-text {
  color: blue;
}

.red-color-text {
  color: red;
}

form {
  background: #f4f4f4;
}

.required {
  color: red;
  margin-left: 2px; /* Adjust the spacing between the asterisk and the text */
}

.white-bg {
  background-color: white;
  color: black;
}
.form-check-input[type="radio"] {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}

.form-check-label {
  font-size: 20px; /* Adjust the font size as needed */
  padding-left: 8px;
}
.call-section {
  background: #f7f7f7;
  margin: 0px;
  width: 100%;
}

.text-green {
  color: green;
  font-weight: bold;
}

.image-lastro {
  background-image: url(images/lasttro.jpg);
  height: fit-content;
  width: 100%;
  margin: 0px;
}

.footer .bi-facebook {
    font-size: 20px; /* Adjust the size as needed */
    
}

.footer .bi-twitter{
    font-size: 20px; /* Adjust the size as needed */
}
::selection {
    background-color: green;
    color: white; /* Text color of the highlighted text */
}


